.wrapper {
  display: flex;
}
#sidebar {
  flex: 1;
  /* Additional styling if needed */
}

#content {
  flex: 1;
  font-family: "Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif";
  /* Additional styling if needed */
}
